<div style="padding-top: 80px;">
  <div class="background" >
      <div class="container">
        <div class="panel pricing-table">
         
          <div class="pricing-plan">
            <img src="./assets/images/iron.jpg" alt="" class="pricing-img">
            <h2 class="pricing-header">{{Iron}}</h2>
            <br>
            <br>
            <span class="pricing-price">₹ {{priceIron}}</span>
            
          </div>
          
          <div class="pricing-plan">
            <img src="./assets/images/washing.jpg" alt="" class="pricing-img">
            <h2 class="pricing-header">{{Wash}}</h2>
            <br>
            <br>
            <span class="pricing-price">₹ {{priceWashing}}</span>
            
          </div>
          
          <div class="pricing-plan">
            <img src="./assets/images/drycleaning.jpg" alt="" class="pricing-img">
            <h2 class="pricing-header">{{Dryclean}}</h2>
            <br>
            <br>
            <span class="pricing-price">₹ {{priceDrycleaning}}</span>
           
          </div>
          
        </div>
      </div>
    </div>
    </div>