.card{
    margin: 100px;
    padding: 80px;
    background-color: #292b2c;
    border-radius: 0px;
}

.container{
    color:white;
}

.wrapper2 {
    height:20px; 
    width:250px; 
    margin: -20px -50px; 
    position:relative;
    top:20%; 
    left:35%;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }