
<!-- <div class="container">
    <h3> Welcome {{Name | uppercase}}</h3>
</div>
<br>
<div class="card">
<div class="row">
    <div class="d-flex justify-content-center">
        <button [routerLink]="['/newRequest']" routerLinkActive="router-link-active" class="btn btn-primary">Create new laundry request</button>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center">
        <br>
        <button [routerLink]="['/trackOrder']" routerLinkActive="router-link-active" class="btn btn-primary">Track your order</button>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center">
        <br>
        <button [routerLink]="['/priceList']" routerLinkActive="router-link-active" class="btn btn-primary">View our price list for all services</button>
    </div>
</div>
</div>  

 class="card" style="background-color: white"

-->

<div style="padding-top: 50px;">
    <div>
        <h3 style="color: white;"> Welcome {{Name | uppercase}} </h3>
    </div>

    <div id="profileTable" class="table table-borderless">
            <tr>
                <br>
                <br>
                <div class="wrapper">
                <button [routerLink]="['/newRequest']" routerLinkActive="router-link-active" class="btn btn-primary">Create new laundry request</button>
                </div>
            </tr>
            <tr>
                <br>
                <br>
                <div class="wrapper">
                <button [routerLink]="['/trackOrder']" routerLinkActive="router-link-active" class="btn btn-primary">Track your order</button>
                </div>
            </tr>
            <tr>
                <br>
                <br>
                <div class="wrapper">
                <button [routerLink]="['/priceList']" routerLinkActive="router-link-active" class="btn btn-primary">View our price list for all services</button>
                </div>
            </tr>
    </div>
</div>


