<div style="background-color: whitesmoke; padding-left: 20px; height:100%; width:100% ;opacity: 0.9">

    <br>
    <br>
    <p>
    We are a group of aspiring entrepreneurs with a aim of having a successful startup related to online laundry management.
</p>
<p>  Sit back and relax to enjoy the hassle free way of getting your washing and dry-cleaning done.
    You can schedule clothes washing, ironing and dry-cleaning through your Personal computer or laptops at the most affordable prices and get it delivered in a quick turnaround time of just 48 hours.
</p>
<p>
    Dhobhi-Ghaat brings Laundry Services Right at Your Doorstep.
    In the age of time and water scarcity and instant gratification, what we want, is one touch access to all. And here, Dhobhi-Ghaat comes to the aid! We are here to relieve you of your chores.
</p>
    
<p>
    So stop stressing over stubborn stains, we are experts in stain removal and dry cleaning, with the utmost care for fabrics in a hygienic environment. Heaps of dirty laundry box will almost magically transform into fresh, clean, crisp, and ironed clothes , as if brand new from the store.
</p>
<p>
    Our reliability is reflected in our service. The best market prices, timely services, background verified providers, service warranty , and a prompt response set Dhobhi-Ghaat apart from the rest. Available across all of Pune , we're a one stop solution for all your washing needs . Our services include:
</p>
    <ul>
        <li>Iron</li>
        <li>DryCleaning</li>
        <li>Wash</li>
    </ul>
<p>
    Need dry cleaning in the town but don't want to go outside and search for one or need nice tidy pressed ( ironed ) clothes for office but don't have the time for the washing hassle, then here is the app that to help you get out of this situation. We will help you in extending the life of your fabric so that your favourite clothes remain as good as new for as long as posible.
</p>
<p>
    Try our app and get your clothes washed or dry cleaned from professionals.    
    In addition, we also provide free pick-up and delivery for laundry.Stay rest assured. With us, your laundry will be well taken care of. We're well-known, trusted, professional, affordable, and uncompromising on quality. We aim to make lives refreshingly easier and convenient.
</p>
<br>
<br>
<br>

</div>
    
    