
<div class="card" style="opacity: 0.9;">
<ul id="menu">
    <li><button  class="btn btn-primary" (click)="getOrderByStatus('ORDER_PLACED')">ORDER_PLACED</button></li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li><button  class="btn btn-primary" (click)="getOrderByStatus('ORDER_PICKEDUP')">ORDER_PICKEDUP</button></li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li><button  class="btn btn-primary" (click)="getOrderByStatus('ORDER_INPROGRESS')">ORDER_INPROGRESS</button></li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li> <button  class="btn btn-primary" (click)="getOrderByStatus('ORDER_DELIVERED')">ORDER_DELIVERED</button></li>
</ul>
 
<br>
<table class="table">
    <tr>
        <th>#</th>
        <th>orderId</th>
        <th>serviceType</th>
        <th>Weight</th>
        <th>bill</th>
        <th>orderDate</th>
        <th>pickUpDate</th>
        <th>deliveryDate</th>
        <th>orderStatus</th>
        <th>UpdateOrderStatus</th>
    </tr>
    <tr *ngFor="let order of allOrders; let i = index">
        <td>{{i + 1}}</td>
        <td>{{order.orderId}}</td>
        <td>{{order.plan.service}}</td>
        <td>{{order.weight}}</td>
        <td>{{order.bill}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.pickUpDate}}</td>
        <td>{{order.deliveryDate}}</td>
        <td><select (change)="changedStatus($event)">
            <ng-container *ngFor="let orderstatus of orderStatus; let j=index">
            <option [value]=orderstatus [selected]="orderstatus === order.status"> {{orderstatus}}
            </option>
        </ng-container>
          </select>
        </td>
        
        <td><button class="btn btn-primary" (click)="updateOrderStatus(order.orderId,selectedStatus)">UpdateOrderStatus</button></td>
    </tr>
</table>
</div>