<br>
<br>
<div class="card">
    <div class="card-header">
        <h3> Address :- </h3>
    </div>

    <div *ngIf="hasAddress" id="addressTable" class="table table-borderless">
        <tr>
            <td>houseNo : {{address[0]?.houseNo}}</td>
        </tr>
        <tr>
            <td>society : {{address[0]?.society}}</td>
        </tr>
        <tr>
            <td>city : {{address[0]?.city}}</td>
        </tr>
        <tr>
            <td>pincode : {{address[0]?.pincode}}</td>
        </tr>

    </div>

    <div *ngIf="!hasAddress">
        <h5>The User haven't added his address Yet !!!!! </h5>
    </div>

</div>